/*--xsm: 375px;
--sm: 480px;
--md: 640px;
--ip: 1023px;
--lg: 1366px;
--xl: 1920px;*/
@media screen and (min-width: 1024px) {
  .o-index {
    grid-template-columns: 6rem 25% auto;
    grid-template-rows: var(--first-row) calc(calc(100vh - var(--first-row)) - var(--gap));
    grid-template-areas:
    "social list header"
    "routes list content";
    gap: 6%;
  }
  .o-index >>> [class$='__info-wrapper'] {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1440px) {

}

