.o-index {
  --first-row: 7vh;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 3rem calc(calc(100vw - 3rem) - 3%);
  grid-template-rows: var(--first-row) calc(calc(100vh - var(--first-row)) - var(--gap));
  grid-template-areas:
    "header header"
    "routes list";
  gap: 3%;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

/* Social media */
.o-index .m-index__social-media {
  grid-area: social;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  cursor: pointer;
  display: none;
}

.o-index .m-index__social-media > .-icon > svg path {
  opacity: .35;
  stroke: var(--c-light);
  transition: all .4s ease-in-out;
}

.o-index .m-index__social-media > .-icon:hover > svg path {
  opacity: 1;
  stroke: var(--c-main);
}

/* End social media */

.o-index .m-index__routes {
  grid-area: var(--routes);
  align-self: end;
}

.o-index .m-index__header {
  grid-area: var(--header);
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}

.o-index >>> [class*='__list'] {
  grid-area: var(--list);
}

.o-index >>> [class$='__info-wrapper'] {
  grid-area: var(--content);
  position: fixed;
  transition: transform .6s ease-in-out;
}
